{% extends "layout.html" %}

{% block title %}
  Dashboard
{% endblock title %}

{% block body %}
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/dashboard.css') }}">
    <!-- Page Header -->
    <div class="my-profile page-container title-content">

      <div class="mx-auto content-block">
        <h1>My Profile</h1>
        <div class="row">
            <div class="col-md-3 profile-img-container">
                <i class="fas fa-user profile-img"></i>
            </div>
            <div class="col-md-9">
                <div class="row no-gutters justify-content-between align-items-end">
                    <div class="profile">
                        <div class="name capitalize">{{current_user.name}}</div>
                        <div class="email">{{current_user.email}}</div>
                        <div class="phone">{{current_user.phone}}</div>
                        <div class="college capitalize">{{current_user.college}}</div>
                    </div>
                    <div class="edit">
                        <a href="/editProfile" class="edit-profile">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <hr/>
      <div class="mx-auto content-block">
        <h1>Basic Actions</h1>
        
        <div class="row justify-content-between p-3">
          <a href="#" data-toggle="modal" data-target="#query-modal">
            <button class="btn btn-primary"> Ask Your Query</button>
          </a>
          
          <a href="/writeAnswer">  
            <button class="btn btn-primary"> Answer Queries</button>
          </a>
        </div>
      </div>

      <hr/>
      <div class="mx-auto content-block">
        <h1>Upload A File</h1>
  
        <div class="row justify-content-between p-3">
          <form action="/uploader" method="post" enctype="multipart/form-data">
             <input type="file" name="file1">
             <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <hr/>

      <div class="mx-auto content-block">
        <h1>Edit Queries</h1>
        <div class="row justify-content-between p-3">
          <a href="/yourQueries" class="col-md-6 btn btn-warning" id="yourQueries">Your Queries</a>
          <a href="/yourAnswers" class="col-md-6 btn btn-warning" id="yourAnswers">Your Answers</a>
          <ul class="list-group list" id="list">
            {% for question in questions %}
            <li class="list-group-item">
                <h3 id="queryDesc">{{question.description|safe}}</h3>
                <h5 id="queryTitle" class="text-muted">{{question.title|safe}}</h5>  
                <em class="">{{question.posted_on}}</em>
                <div class="float-right">
                  <a href="/edit/ques/{{question.id}}"  class="btn rounded-circle"><i class="far fa-edit"></i></a>   
                  <a href="/delete/ques/{{question.id}}"  class="btn  rounded-circle"><i class="fas fa-trash-alt"></i></a>
                </div>
            </li>
            {% endfor %}
          </ul> 
        </div>

      </div>
      
      
    </div>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    {% endblock %}