<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    <title> {% block title %} {% endblock %} | Query </title>
    
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    
    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet" />
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    
    <!-- include ckeditor -->
    
</head>

  <body>
    
    <!-- Navigation -->
    <div class="header sticky-top">
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img/Ask.png') }}"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end align-item-center" id="my-navbar">
            <ul class="navbar-nav nav-element1">
              <li class="nav-item">
                <a class="nav-link" href="/#header">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#contact">Contact</a>
              </li>
            </ul>
            
            <ul class="navbar-nav nav-element2 align-item-center">

                <li class="nav-item align-self-center">
                    <form id="search-form" action="#" method="GET">
                        <div class="input-group query-search">
                            <input type="text" class="form-control input-query" id='query' name='query' placeholder="Search queries" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>

                <div class="nav-vl"></div>
                
                
                {% if current_user.is_authenticated %}
                <li class="nav-item p-2">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#query-modal">
                        <button class="btn btn-primary">Ask me</button>
                    </a>
                </li>

                <div class='nav-name'>
                    <strong>Hi, {{current_user.name}}</strong>
                </div>
                <li class="nav-item align-self-center">
                    <a class="nav-link" href="/dashboard">
                        <i class="fas fa-user"></i>Dashboard
                    </a>
                </li>
                
                <div class="nav-vl"></div>
                
                <li class="nav-item align-self-center">
                    <a class="nav-link" href="/logout">
                        <i class="fas fa-sign-out-alt"></i>Logout
                    </a>
                </li>
                
                {% else %}

                <li class="nav-item align-self-center">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#signup-modal">
                        <i class="fas fa-user"></i>Signup
                    </a>
                </li>

                <div class="nav-vl"></div>
                    
                <li class="nav-item align-self-center">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#login-modal">
                        <i class="fas fa-sign-in-alt"></i>Login
                    </a>
                </li>
                
                {% endif %}
        
           
            </ul>
            </div>
    </nav>
</div>

<div id="loading">
</div>

{% include 'modal.html' %}

{% include 'messages.html'%}

{% block body %} {% endblock %}


 
    <!-- Footer -->

    <footer class="footer">
      <div class="footer-container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#" target="_blank">
                  <span class="fa-stack fa-lg post-title">
                    <i class="fa-brands fa-twitter fa-lg"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/company/query-just-ask/" target="_blank">
                  <span class="fa-stack fa-lg post-title">
                    <i class="fa-brands fa-linkedin fa-lg"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/faisal1025/thoughts-Blog" target="_blank">
                  <span class="fa-stack fa-lg post-title">
                    <i class="fa-brands fa-github fa-lg"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="footer-copyright text-muted">Copyright &copy; Query 2022</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/162c1e58c0.js" crossorigin="anonymous"></script>

    <!-- Custom scripts for this template -->
    {% if current_user.is_authenticated %}
      <script>
        let user_id = Number('{{current_user.id}}');
      </script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>

    <!-- For Editor -->
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <script src=" {{ url_for('static', filename='js/editor.js') }} "></script> 

  </body>

</html>


