

.profile-img {
    color: #7d7d7d;
    font-size: 75px;
    text-align: center;
    border: 1px solid #e4e4e4;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    line-height: 100px;
}

.list{
    width: -webkit-fill-available;
    max-height: 40rem;
    overflow-y: auto;
}

