.title{
    color: #44505273;
    font-weight: 500;
    padding: 1rem;
    border-bottom: 1px solid #8080804d;
    margin-bottom: 1rem;
}

.carousel-content{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 39, 39);
    max-height: 24rem;
}

.carousel-image{
    width: 1253px;
}

.about-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-image{
    flex-basis: 20%;
}

.about-content{
    flex-basis: 60%;
}

.form-style{
    font-family: 'Akaya Telivigala', cursive;
}

.contact-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-image{
    flex-basis: 20%;
}

.contact-content{
    flex-basis: 60%;
}



